<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesheet.css">

    <title>JDR France</title>
</head>

<body>
    <main>
        <div>
            <img src="../img/forest_map.jpg" alt="carte de forêt">
        </div>
    </main>
    

	<footer></footer>
	<script language="javascript" src="/js/index.js"></script>
</body>
</html>