<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/stylesheet.css">

	<title>JDR France</title>
</head>
<body>
	<header>
		
		<a href="/" ><img src="/img/logo.png" alt="Logo du site : plusieurs dés stylisés" class="logo"></a>
		<h1>JDR France</h1>
		<nav class="form">
			<ul>
				<li>Jeux
					<% for (let i = 0 ; i < lists.length ; i++) { %>
					<li>
						<a href ="/gameType/<%= lists[i].id%>" ><%= lists[i].name %></a>
					</li>
					<% } %>
				</li>
			</ul>
			
			<% if (locals.isUser){ %>
                <a href="/admin"><i class="fa fa-cogs"></i> Administration</a>
                
                <a href ="/disconnetion">Disconnect</a>
                <% } else {%>
                
                <a href="/register">Inscription</a>
				<a href="/login">Connexion</a>
                <% } %>
		</nav>
	</header>

	<main>
		<div class="test"> <img src = "img/background.png" alt="image de fond" class="container"></div>
	</main>
	
	<footer></footer>
	<script language="javascript" src="/index.js"></script>
</body>
</html>

