<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/stylesheet.css">

	<title>JDR France</title>
</head>
<body>
	
	<header>
		<div class = "test">
			<a href="/" ><img src="/img/logo.png" alt="Logo du site : plusieurs dés stylisés" class="logo"></a>
			<h1>JDR France</h1>
			
			<nav class="form">
				<ul>
					<li>Jeux
						<% for (let i = 0 ; i < lists.length ; i++) { %>
						<li class = "hidden">
							<a href ="/gameType/<%= lists[i].id%>" class = 'white'><%= lists[i].name %></a>
						</li>
						<% } %>
					</li>
				</ul>
				
				<% if (locals.userId){ %>
					
					<a href ="/logout">Deconnexion</a>
					<a href ="/user">Profil</a>
					<% } else {%>
					
					<a href="/register" class = 'white'>Inscription</a>
					<a href="/login" class = 'white'>Connexion</a>
					<% } %>
			</nav>
			
			<button id = "dyslexie" class = "button">Dyslexique</button>
		</div>
	</header>

	<main>
	</main>
	
	<footer></footer>
	<script language="javascript" src="/js/index.js"></script>
</body>
</html>
