<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/stylesheet.css">

	<title>JDR France</title>
</head>
<body>
	<header class = "header">
		
		<a href="/" ><img src="/img/logo.png" alt="Logo du site : plusieurs dés stylisés" class="logo"></a>
		<h1>JDR France</h1>
			<div class="test">
			  <img src="img/background.jpg" alt="image de fond" class="container" />
			</div>
			<button id = "dyslexie">Dyslexique</button>
	</header>

	<main>
		
		<%- include(template) -%>
	</main>
	
	<footer class = "footer"></footer>
	<script language="javascript" src="/js/index.js"></script>
</body>
</html>