<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>JDR France</title>

    <!-- Feuilles de style externes -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- En-tête commune de l'application -->
    <header>
        
    </header>
    <!-- Pied de page commun de l'application -->
    <footer class="blog-footer">
    </footer>
    <script language="javascript" src="/js/index.js"></script>
</body>
</html>