<h2>Veuillez vous identifier</h2>
<section>
    <div class="test"> <img src = "img/background.jpg" alt="image de fond" class="container"></div>
    <form action="/login" method="post">
	<label for ="email">Email</label>
	<input type="text" id="email" name="login" placeholder="email ou pseudo">
	<label for="password" id="password" name="password" placeholder ="mot de passe">Mot de passe</label>
	<input type="password" id="password" name="password">
	
	
	<input type="submit" name="Identification">
</form>
<a href= "/register"> S'inscrire</a>
</section>