/******************************************
************* FONT-FACE *******************
******************************************/
@font-face {
  font-family: "Kalam";
  src: url("../font/Kalam-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenDyslexic";
  src: url("../font/OpenDyslexic-Regular.woff") format("woff");
}

/*******************************************
***************style general****************
*******************************************/

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  padding: 0;
}

body {
  font-size: 1.6rem;
  margin: 0;
  font-family: "Kalam", "cursive";
  position: relative;
  background: radial-gradient(#f5f5dc, #ffffff);
  background-size: cover;
  background-repeat: no-repeat;

  color :rgb(52, 52, 68);
}

a {
  text-decoration: none;
}

/*******************************************
*************** style logo *****************
*******************************************/

.logo {
  /*position: relative;*/
  width: 10%;
}

/******************************************
*************background style**************
******************************************/

.container {
  opacity: 0.6;
  max-width: 100%;
  height: auto;
}


/******************************
******** NAV POSITION *********
******************************/


/*************************************************
****************** HEADER ************************
*************************************************/

.header {
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  top: 0em;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.logo_bloc {
  position: absolute;
  top: 0;
  left: 0;
}

.titre {
  margin: 0;
}

.form {
  color: rgb(37, 15, 235);
  position: absolute;
  top: 1.5rem;
  right : 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem;
}

.form a {
  padding : 1rem;
  color: rgb(0, 0, 0);
}

.button {
  
  position: absolute;
  top: 8rem;
  left: 1rem;
}


.dyslexie {
  font-family: "OpenDyslexic", sans-serif;
}
/**************************************
************* PAGE HOME ***************
**************************************/

.accueil {
  margin: 0.5em 1em;
  padding: 0.5rem;
}

/********************************************
************* PAGE REGISTER *****************
********************************************/


/********************************************
********* MEDIA QUERIES TABLETS *************
********************************************/
